* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  margin-top: 200px;
  width: 80%;
  padding: 12px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: darkgrey;
  font-size: 1rem;
}

::placeholder {
  color: grey;
  font-size: 1rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gallery img {
  margin: 30px;
}

@media (min-width: 768px) {
  input {
    width: 480px;
  }
}
